apache-log-parser==1.7.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.21
idna==2.8
pytz==2019.1
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
tqdm==4.31.1
ua-parser==0.8.0
urllib3==1.24.3
user-agents==2.0
gunicorn==20.0.4