@import url(https://fonts.googleapis.com/css?family=Catamaran);

body {
    font-family: 'Catamaran', sans-serif;
}

.table tbody {
    font-size: 14px;
}

.word-braked {
    word-break: break-all;
}

.table .dropdown-item {
    font-size: 12px;
}

.table thead th {
    vertical-align: top;
}

.hidden {
    display:none;
}